<div>
    <form class="login-form" style="">
        <h3>Register</h3>
        <input class="form-control" placeholder="login" type="text" ng-model="form.login" />
        <input class="form-control" placeholder="password" type="password" ng-model="form.password" />
        <div>
            <button ng-click="form.submit()">Register</button>
            <button ng-click="form.cancel()">Cancel</button>
        </div>
    </form>
</div>