<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' rel='stylesheet' type='text/css'>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'packages/angular-bootstrap/ui-bootstrap-csp.css' %}">
  <link rel="stylesheet" href="{% static 'packages/bootstrap/dist/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'styles/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'styles/chat.css' %}">
  <script type="text/javascript" src='{% static "app/libs/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src="{% static 'packages/angular/angular.js' %}"></script>
  <script type="text/javascript" src="{% static 'packages/ngstorage/ngStorage.js' %}"></script>
  <script type="text/javascript" src="{% static 'packages/angular-ui-router/release/angular-ui-router.js' %}"></script>
  <script type="text/javascript" src="{% static 'packages/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/app.js' %}"></script>
</head>
<body ng-app="app">
  <div class="section">
    <div class="container"> 
      {% verbatim %}
        <header>
            <div class="user-management" ng-controller="UserManagementController as userMenu">
                <ul>
                    <li ng-show="!userMenu.userLogined">
                        <a href="" rel="button" ng-click="userMenu.login()">Login</a>
                    </li>
                    <li ng-show="!userMenu.userLogined">
                        <a href="" rel="button" ng-click="userMenu.register()">Register</a>
                    </li>
                    <li ng-show="userMenu.userLogined">
                        <span ng-bind="userMenu.userName"></span> <a href="" rel="button" ng-click="userMenu.logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </header>
        <section ui-view>       
        </section>
    {% endverbatim %}
    </div>
  </div>  
</body>
</html>
