<a ui-sref="rooms" rel="button">return</a>

  <!--<p>
    <label for="handle">Your name:</label>
    <input id="handle" type="text" placeholder="handle" value="User-XXX">
  </p>-->

<form id="chatform" ng-show="chat.userLogined">
    <table id="chat">
        <tbody>
            <tr ng-repeat="message in chat.messages">
                <td ng-bind="::message.formatted_timestamp"></td>
                <td ng-bind="::message.handle"></td>
                <td ng-bind="::message.message"></td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
        <td>Say something:</td>
        <td colspan=2>
            <input id="message" type="text" placeholder="message" 
            ng-model="chat.messageText" ng-model-options="{ debounce: 100 }" 
            ng-keydown="chat.onKeyDown($event)">
            <button type="button" id="go" ng-click="chat.sendMessage(chat.messageText)">Say it</button>
        </td>
        </tfoot>
    </table>
  </form>
  <div ng-show="!chat.userLogined">
      Login or register to see messages.
  </div>