<div ng-show="room.userLogined">
    <a href="" rel="button" ng-click="room.createRoom()">Create</a> new room or join to one of existing:
    <h2>Available rooms</h2>
    <ul ng-repeat="room in room.rooms">
        <li>
            <a ui-sref="chat-room({roomLabel: room.label})" rel=button"" ng-bind="::room.label"></a>
        </li>
    </ul>    
</div>
<div ng-show="!room.userLogined">
    Login or register to see list of chat rooms
</div>